<%- include('../partials/header')  %>


<div class="row">
    <div class="container col-md-6 col-sm-12 col-lg-4 col-xl-3 mx-auto">
            <h1 class="text-center">Registro</h1>
    </div>
</div>


<%- include('../partials/footer')  %>