<%- include('../partials/header') %>

<div class="container">
    <div class="row mt-5">

        <div class="row">
            <div class="col-md-4 mb-3">
                <a href="/usuarios" class="btn btn-sm btn-primary">Regresar</a>
                <a href="/" class="btn btn-sm btn-info text-light">Inicio</a>
            </div>
        </div>
        <div class="mx-auto col-sm-9 col-md-6 col-lg-5 col-xl-4">
            <form id="formEditar" class="w-100 border rounded p-3" action="#" data-id="<%= id  %>">
                <h2 class="text-center">Editar Usuario</h2>
                <hr>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">username</label>
                    <input type="text" value="" id="username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">email</label>
                    <input type="email" value="" id="email" class="form-control">
                </div>
               
                <button type="submit" class="btn btn-warning w-100">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>

<script src="/js/editar_usuario.js"></script>

<%- include('../partials/footer') %>